@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/68c0798cfdcc2a8900dbb427.68c0798cfdcc2a8900dbb42a.YsNomUx.hcp.png");

@font-face {
  font-family: "SF Arabic-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SF-Arabic.ttf") format("truetype");
}
@font-face {
  font-family: "SF Arabic-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Window and Window Controls.svg");
}
@font-face {
  font-family: "SF Arabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SF-Arabic.ttf") format("truetype");
}
@font-face {
  font-family: "SF Arabic-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Arabic.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
